@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

body{
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to left bottom, #0f0c29, #302b63, #24243e);
}